.profile-part{
    min-width:300px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}
.profile-part-link{
    padding-bottom: 5px;
    border-bottom: rgba(238, 195, 186, 0.7) 1px solid;
}
.profile-part-link:hover{
    color: var(--first--color);
    border-bottom: var(--first--color) 1px solid;

}
@media screen and (max-width: 900px){
    .profile-part{
        margin-top: 40px;
    }
}