.checkBox label {
    padding: 40px;
    overflow-y: scroll;
    max-width: 300px;
}

input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 0px;
    height: 0px;
    margin:4px 10px;

}

input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    border: 1px solid #eec3ba;
    border-radius: 100%;
    background-color: rgba(54, 46, 72, 0.3);
    transition: all 0.2s linear;
}


input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #eec3ba;
    border-radius: 3px;
    background-color: rgba(54, 46, 72, 0.3);
}


input[type=checkbox]:after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border: solid #eec3ba;
    border-width: 0 0px 0px 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    top: 0px;
    left: 50px;
    transition: all 0.2s linear;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 4px;
    height: 8px;
    border: solid #eec3ba;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 3px;
    left: 7px;
}
@media screen and (max-width: 900px){
   label{
       width: 50vw;
   }
}
