html{
    --first--color:#F24B4B
}
.link{
    text-decoration: none;
    color: inherit;
}
ul{
list-style-type: none;
}
.btn{
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    width: 200px;
    cursor: pointer;
    margin:20px auto;
}
.submit-btn{
    background-color: var(--first--color);
}
.link{
    text-decoration: none;
}